<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="REDACTED\OrderManagement\Api\SubmitCommentInterface" type="REDACTED\OrderManagement\Model\SubmitComment"/>
    <preference for="REDACTED\OrderManagement\Api\SetStateInterface" type="REDACTED\OrderManagement\Model\SetState"/>
</config>
